@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  background: url(./images/pattern-background-desktop.svg) no-repeat, hsl(225, 100%, 94%);
  background-size: contain;
  background-position: -15%;
}

main{
  max-width: 425px;
  overflow: hidden;
  margin: 2rem;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.11);
}

main img{
  max-width: 100%;
}

#text-content{
  padding: 2rem 2.5rem;
}

#text-content > h1{
  color: hsl(223, 47%, 23%);
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.plan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: hsl(225, 100%, 98%);
  margin-top: 1.3rem;
  padding: 1rem 1.3rem;
  border-radius: 1rem;
}

.annual-plan{
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.annual-plan img {
  width: 2.5rem;
  height: 2.5rem;
}

.annual-plan h2 {
  font-size: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.annual-plan .price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.plan a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 62%);
}

#text-content button {
  margin: 2rem 0;
  width: 100%;
  padding: 1.2rem 0;
  border: none;
  border-radius: 0.8rem;
  background: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.15);
  font-weight: 700;
  cursor: pointer;
}

#text-content button:hover {
  background: hsl(245, 75%, 62%);
}

#text-content > a {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 900;
}

#text-content > a:hover {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 426px){
  body{
    background: url(./images/pattern-background-mobile.svg) no-repeat, hsl(255, 100%, 94%);
    background-size: contain;
  }

  main{
    margin: 5rem 2rem;
  }

  #text-content {
    padding: 2rem 3rem;
  }
}

@media (max-width: 420px) {
  main {
    margin: 5rem 1rem;
  }
  #text-content {
    padding: 0.5rem;
  }
}